---
import Section from './Section'
import { socials } from '@constants/index'

interface Props {
  rights: string
}

const {rights} = Astro.props
---


<Section id='footer' crosses classes='!px-0 !py-10'>
  <footer class='container flex sm:justify-between justify-center items-center gap-10 flex-col md:flex-row'>
    <p class='caption text-n-4 lg:block'>
      {new Date().getFullYear()} &copy;{' '}
      {rights}
    </p>
    <ul class='flex flex-wrap gap-5'>
      {socials.map((s) => (
        <a
          class='cursor-pointer flex items-center justify-center w-10 h-10 rounded-full bg-n-7 transition-colors hover:bg-n-6'
          target='_blank'
        >
         <img src={s.iconUrl.src} alt={s.title} height={16} width={16} />
        </a>
        ))}
    </ul>
  </footer>
</Section>

